#conteudo{
  display: grid;

  grid-template-columns: 22rem 1fr;
  grid-template-areas: 
   "menu-lateral header header"
   "menu-lateral main main"
   "menu-lateral footer footer";

  width: 100%;
  height: 100vh;

  background: var(--white);
}

header{
  grid-area: header;
  height: 6.8rem;
  width: 100%;
  margin: 0;
  background: var(--white-light);

  word-break: break-all;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #titulo {
  padding-left: 3.6rem;
}

header #titulo p:nth-child(1){
  margin-top: .5rem;
  width: 39.1rem;
}

header #titulo p:nth-child(1), header #titulo p:nth-child(3){
  height: min(1.6rem, 16px);
}

header #titulo p:nth-child(2){
  height: min(2.6rem, 26px);
  width: min(64.3rem, 643px);
  
  font-size: min(2.2rem, 22px);
  line-height: min(2.6rem, 26px);
  top: 2.3rem;
}

header #titulo p:nth-child(3){
  margin-bottom: min(.4rem, 4px);
  width: min(10.5rem, 105px);
}

header .button{
  margin: 1.7rem 2.2rem 1.7rem 10rem;
  width: min(9.7rem, 97%);
  height: 3.4rem;
}

header .button button> img{
  padding: .5rem 0 .8rem .9rem;
}

header #perfil-usuario{
  display: flex;
  text-align: right;
  align-items: center;
  word-wrap: break-word;

  margin-right: 3.6rem;
  
  width: 20.2rem;
  height: 3.4rem;
}

header #perfil-usuario > div > p:nth-child(1){
  font-size: min(1.4rem, 14px);
  line-height: min(1.75rem, 17,5px);
}

header #perfil-usuario > div > p:nth-child(2){
  font-size: min(1.2rem, 12px);
  line-height: 1.5rem;  
  
  width: 16.4rem;
}

/* AVATAR - Notificações*/
header #perfil-usuario > div:nth-child(2){
  
  width: 4.8rem;
  height: 3rem;
  position: relative;
  background: url(../images/usuario.svg) no-repeat center; 

  z-index: 2;
}

header #perfil-usuario > div > img{
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  
  top: min(-.2rem, -2px);
  right: .1rem;

  z-index: 1;
  
}

/***** Inicio do menu-lateral *****/
#menu-lateral {
  grid-area: menu-lateral;
  
  width: 22rem;
  height: 100vh; 

  position: fixed;
  /* position: fixed; */
  left: 0;
  top: 0;

  background: var(--white);

  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#menu-lateral > div.gradiente{
  display: flex;
  
  align-items: center;
  height: 6.8rem;
}

#menu-lateral > div.gradiente > p{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.8rem;

  margin: 0 2rem 0 2.2rem;
  color: var(--white);
}

#logo > img{
  height: 25.8rem;
  width: 21rem;
}

#menu-lateral > nav ul li{
  height: 3.3rem;
  display: flex;
  border-bottom:.2rem solid #ECECEC;

  
}

nav ul li > div{
  width: .5rem;
  height: 100%;
}

nav ul li > div.gradiente{
  display: none;
}

#trabalhos{
  background: var(--white-light);
}
#trabalhos > div.gradiente{
  display: block;
}

#menu-lateral > nav ul li a{
  padding: .7rem 0 .7rem 2.4rem;
  color: var(--grey-medium);
  font-weight: 500;
  font-size: 1.5rem;
}
/* Fim do menu lateral */


/* Inicio do conteudo principal */
#conteudo-principal{
  grid-area: main;
  background: var(--white);
  margin-top: 2rem;
  margin-left: 4.3rem;

  height: auto;
}

#conteudo-principal-topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 0;
}

#conteudo-principal-topo .botoes{
  display: flex;
  justify-content: flex-end;
  gap: .5rem;

  margin: 0 4.5rem 0 0;
}

.botoes > div{
  background: var(--orange);
  
  display: flex;
  justify-content: center;
  align-items: center;  
  
  border-radius: .4rem;
  border: 1px;

  color: var(--white);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.875rem;
  
  width: 4.3rem;
  height: 3.1rem;
}

.botoes > div:nth-child(1){
  gap: .5rem;

  width: 12rem;
}

#conteudo-titulo{
  width: 78.6rem;
  margin-right: 5.6rem;

}

#conteudo-titulo > h3{
  /* color: var(--orange); */
  color: var(--orange-text);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.5rem;
  height: 5.4rem;

  margin-right: 5.6rem;
}

#conteudo-principal-topo > div > span{
  margin: 0;
  
  margin-right: 4.4rem;
  padding-top: 1.2rem;

  width: 23.9rem;

  display: flex;
  justify-content: flex-end;
  
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 2.5rem;
  
  letter-spacing: 0.05em;

  color: var(--orange-text);
  text-transform: uppercase;
}

#conteudo-principal > section{
  display: flex;
  margin-top: 1.9rem;
}
#conteudo-principal > section > aside{
  margin-left: 3rem;
  margin-right: 4.6rem;
  width: 24.2rem;
  max-height: 43.9rem;
}

#conteudo-principal > section > aside > div:nth-child(1){
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;

  color: var(--grey-dark);
  background: var(--white-light);
}

::-webkit-scrollbar-track {
  background-color: cla;
}

::-webkit-scrollbar {
  width: .4rem;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
#conteudo-principal > section > aside > div:nth-child(2){
  overflow-y: scroll;

  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-size: 1.2rem;
}
main{
  z-index: 1;
}
#conteudo-principal > section > aside > div > p > span{
  font-weight: bold;
}

#conteudo-principal > section > aside > div:nth-child(2){
  overflow-y: scroll;
}

#conteudo-principal > section > aside > div > p{
  line-height: 1.44rem;
  letter-spacing: 0.02em;

  margin-bottom: .4rem;
}

#conteudo-principal > section > aside > div > span{
  display: inline-block;
  font-weight: bold;
  margin-top: 2rem;
  padding-bottom: .5rem;

}

#conteudo-principal > section > aside > div > span,
#conteudo-principal > section > aside > div > ul > li{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  line-height: 1.68rem;

  margin-bottom: .5rem;
}

#universidades{
  margin-top: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.68rem;  
}
/*********************************************** */

/* Inicio do Resumo */
#resumo{
  margin-right: 4.5rem;
}

#discussoes > div > div:nth-child(1),
#resumo > div > div:nth-child(1){
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;

  color: var(--grey-dark);
  background: var(--white-light);
}

#resumo > div > div:nth-child(2){
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  line-height: 2.275rem;
  font-weight: 400;

  color: var(--grey-dark);
  text-align: justify;
}

#resumo #ver-mais > span{
  color: var(--orange-text);
  cursor: pointer;
}

#leia-mais{
  opacity: 0;
  display: none;
}

#leia-mais p{
  margin-top: 2.5rem;
}
/* Fim do resumo */

/*Parte de discussões */
#discussoes{
  margin-bottom: 5rem;
}

div.card-header{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  width: 100%;
  color: var(--grey-dark);
  background: var(--white-light);
}

section#discussoes{
  margin-right: 4.5rem;
}
section#discussoes > div{
  width: 100%;
  max-width: 105.8rem;
  max-height: 91.9rem;
}

.discussoes-cabecalho{

  display: none;

  width: 62.6rem;
  margin-left: 21.65rem;
  margin-right: 21.55rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.discussoes-cabecalho h3{
  color: var(--orange-text);
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Roboto';
  line-height: 2.1rem;
  clear: both;
}


.autor-ativo.discussao-mais-informacao {
  background: #F8F8F8;
}

.discussoes-cabecalho div:nth-child(2){
  margin: 2.7rem 0 3.5rem 0;
  display: flex;
  justify-content: center;
  gap: 5.374rem;
}

.discussoes-cabecalho h6{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.925rem;

  margin-bottom: 1.4rem;
  color: #595959;

}
.discussoes-cabecalho a{
  color: var(--orange-text);
  text-decoration: underline;
  margin-bottom: 4.7rem;
}

#elemento-enviado{
  display: none;
}

#criar-discussao2,
#criar-discussao{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1.5rem;
  z-index: 1;
}


#criar-discussao2> div:nth-child(1),
#criar-discussao2 > div:nth-child(3),
#criar-discussao > div:nth-child(1),
#criar-discussao > div:nth-child(3){
  border: .05rem solid #ECECEC;
  
  height: .1rem;
  width: 45rem;

  z-index: 2;
} 

#criar-discussao2 > div:nth-child(2),
#criar-discussao > div:nth-child(2){
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: .6rem;
  
  width: 13.3rem;
  height: 3.2rem;

  border-radius: .4rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);

  background:  linear-gradient(180deg, var(--light-orange),var(--orange));;

  color: var(--white);
  font-family: 'Quicksand';
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 700;
}

#criar-discussao2 > div:nth-child(2):hover,
#criar-discussao > div:nth-child(2):hover{
  cursor: pointer;
  filter: brightness(1.2);
}

#criar-discussao2 .gradiente {
  width: 23.5rem;
}

#nova-discussao{
  display: none;
}

#nova-discussao h3{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.75rem;

  color: #5C5C5C;
  margin-bottom: 2.2rem;
}

#nova-discussao label{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.875rem;

  color: var(--orange-text);
}

#nova-discussao input{
  margin-bottom:1rem ;
}


/* Area do formulario */
#nova-discussao #input-assunto{  
  height: 3.9rem;

  overflow-y: hidden;

  box-sizing: border-box;
}

#nova-discussao .textarea{
  height: 8.2rem;    
}

#nova-discussao #input-assunto,
#nova-discussao .textarea{
  width: 100%;

  border: .1rem solid #cccccc;
  border-radius: .3rem;

  padding: 1rem 0 1.1rem 2.3rem;

  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;

  color: #4D4D4D;
  box-sizing: border-box;
  margin-bottom: 0;
}

#nova-discussao > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EAF1F2;
  height: 3.1rem;
  margin-top: -.2rem;
}

#nova-discussao > div > #editar-texto{
  display: flex;
  gap: 3.08rem;
  margin-left: 2.93rem;
}
#nova-discussao > div > #botao-enviar{
  width: 20.51rem;
  height: 3.1rem;

  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  
  color: var(--white);
}
/* Fim da área do formilário */

/* Elemento criado */

#lista-discussoes{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;

  gap: 1.7rem;
}

.discussoes-topicos{
  height: 14.8rem;
  padding-left: 2.41rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);

}

.discussoes-topicos h5{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;

  color: var(--orange-text);
}

.discussoes-topicos h6{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;

  margin-bottom: 1rem;
}

.discussoes-topicos p{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.75rem;

  color: #4D4D4D;
}


.discussoes-rodape{
  margin-top: 1.1rem;
  display: flex;
  gap: 1.5rem;
}

.informacao{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: .3rem;
  margin-left: 0;
}

.informacao > img{
  width: .4rem;
  height: .4rem;
  cursor: pointer;
}

.discussoes-rodape button{
  width: 2.7rem;
  height: 1.9rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.discussao-mais-informacao{
  margin-top: -1.7rem;
  /* background: #E7E7E7; */

}

#discussao-mais-informacao-1{
  display: none;
  opacity: 0;
}
#discussao-mais-informacao-2{
  display: none;
  opacity: 0;
}

.ativo{
  background: #E7E7E7;
}

.discussao-autores{
  /* background: #F8F8F8; */
  margin-top: .9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discussao-autores .autores{
  display: flex;
  align-items:center;
  gap: 1.331rem;
}

.autores > img{
  width: 3.1rem;
  height: 2.32rem;

}

footer{
  grid-area: footer;
  height: 18.1rem;
  margin-left: 1.4rem;
  margin-right: 4.6rem;
}


#elemento-novo{
  border-radius: .4rem;
  background:rgba(221, 221, 221, .8);
  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .8rem;

  margin-left: -2.4rem;
  
  height: 100%;
  width: 100%;
}

#elemento-novo h6{
  color: #707070;
  line-height: 2rem;
}

#elemento-novo a{
  color: var(--orange-text);
  font-family: 'Segoe UI';
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86rem;

  text-decoration: underline;
}
