/* Formatação do container (Formatações gerais) */
#conteudo{
  display: grid;

  grid-template-columns: 22rem 1fr;
  grid-template-areas: 
   "menu-lateral header header"
   "menu-lateral main main"
   "menu-lateral footer footer";

  width: 100%;
  height: 100vh;

  background: #FFFFFF;
}
/* Formatação do cabeçalho */
header{
  
  grid-area: header;
  height: 6.8rem;
  width: 100%;

  background: #FDF1EB;
  position: relative;

  word-break: break-all;
  margin-bottom: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #titulo {
  padding-left: 3.6rem;
}

header #titulo p:nth-child(1){
  margin-top: .5rem;
  width: 39.1rem;
}

header #titulo p:nth-child(1), header #titulo p:nth-child(3){
  height: min(1.6rem, 16px);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: min(1.4rem, 14px);
  line-height: min(1.64rem, 16,4px);
  color: var(--grey-medium);
}

header #titulo p:nth-child(2){
  height: min(2.6rem, 26px);
  width: min(64.3rem, 643px);
  
  font-family: 'Roboto';
  font-weight: 400;
  font-size: min(2.2rem, 22px);
  line-height: min(2.6rem, 26px);
  top: 2.3rem;
  
  color: var(--grey-medium);
}

header #titulo p:nth-child(3){
  margin-bottom: min(.4rem, 4px);
  width: min(10.5rem, 105px);
}

header .button{
  margin: 1.7rem 2.2rem 1.7rem 10rem;
  width: min(9.7rem, 97%);
  height: 3.4rem;
}

header .button button> img{
  padding: .5rem 0 .8rem .9rem;
}

header #perfil-usuario{
  display: flex;
  text-align: right;
  align-items: center;
  word-wrap: normal;

  margin-right: 3.6rem;
  
  width: 20.2rem;
  height: 3.4rem;
}

header #perfil-usuario > div > p:nth-child(1){
  font-size: min(1.4rem, 14px);
  line-height: (1.75rem, 17,5px);
}

header #perfil-usuario > div > p:nth-child(2){
  font-size: min(1.2rem, 12px);
  line-height: 1.5rem;  
  
  width: 16.4rem;
}

header #perfil-usuario > div > p{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;

  /* margin-right: -1rem; */
  color: var(--grey-dark);
}

/* AVATAR - Notificações*/
header #perfil-usuario > div:nth-child(2){
  
  width: 4.8rem;
  height: 3rem;
  position: relative;
  background: url(../images/usuario.svg) no-repeat center; 

  z-index: 2;
}

header #perfil-usuario > div > img{
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  
  top: min(-.2rem, -2px);
  right: .1rem;

  z-index: 1;
  
}
/***** Fim do cabeçalho *****/

/***** Inicio do menu-lateral *****/
#menu-lateral {
  grid-area: menu-lateral;
  
  width: 22rem;
  height: 100vh;

  position: fixed;
  /* position: fixed; */
  left: 0;
  top: 0;

  background: var(--white);
}

#menu-lateral > #retangulo-laranja{
  display: flex;
  
  align-items: center;
  height: 6.8rem;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  background:  linear-gradient(180deg, var(--light-orange),var(--orange));;
}

#menu-lateral > #retangulo-laranja > p{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.8rem;

  margin: 0 2rem 0 2.2rem;
  color: var(--white);
}

#menu-lateral > #logo > img{
  height: 25.8rem;
  width: 22rem;
}

#menu-lateral > nav ul li{
  height: 3.3rem;
  padding: .7rem 0 .7rem 2.4rem;
  border-bottom: 1px solid #ECECEC;

  
}

#menu-lateral > nav ul li a{
  font-family: 'Quicksand';
  color: var(--grey-medium);
  font-weight: 500;
  font-size: 1.5rem;
}
/* Fim do menu lateral */

/* Inicio do conteudo principal */
#conteudo-principal{
  grid-area: main;
  background: blue;
  margin-top: 2rem;
  margin-left: 4.3rem;

  height: 138.2rem;
}

#conteudo-principal-topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#conteudo-principal-topo .botoes{
  display: flex;
  margin-right: 4.5rem;
  margin-top: 0;
  justify-content: center;
  
  gap: .5rem;
  
}

.botoes > div{
  background: var(--orange);
  
  border-radius: .4rem;
  border: 1px solid #000000;

  color: var(--white);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.875rem;
  
  width: 4.3rem;
  height: 3.1rem;
}

.botoes > div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  width: 12rem;
}

.botoes > div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
}
.botoes > div:nth-child(3){
  display: flex;
  justify-content: center;
  align-items: center;  
}

#conteudo-titulo > h3{
  /* color: var(--orange); */
  color: #ED7839;

  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.5rem;

  word-wrap: break-word;
  width: 78.6rem;
  height: 5.4rem;
}

footer{
  grid-area: footer;
  height: 18.1rem;
  margin-left: 1.4rem;
  margin-right: 4.6rem;
}


/* #container{
  display: flex
}
#menu-lateral {
  display: flex;
  justify-content: center;
  width: 22rem;
   height: 250.8rem; 
  background: red;
}
#menu-lateral header{
  background: linear-gradient();
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.8rem;
  width: 100%;
}
#menu-lateral header p{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;

  color: var(--white);
  
  margin-left: 2rem;
  margin-right: 2.2rem;
}


#conteudo-principal{
  
  background: blue;
} */